root = true

[*]
indent_size = 4
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2
insert_final_newline = false

[*.xml]
indent_size = 2
insert_final_newline = false

[*.wsb]
indent_size = 2
insert_final_newline = false
end_of_line = crlf

[Makefile]
indent_size = 4
indent_style = tab

[*.ps1]
end_of_line = crlf
charset = utf-8-bom

[*.{cmd,bat}]
end_of_line = crlf
